<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/Quiz16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pa
import numpy as np

IOT_df = pa.read_csv('https://raw.githubusercontent.com/nurfnick/Data_Viz/main/IOT-temp.csv')

IOT_df.head(15)

                                     id  room_id/id  ... temp  out/in
0   __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1   __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2   __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3   __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4   __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
5   __export__.temp_log_196125_b0fa0b41  Room Admin  ...   31      In
6   __export__.temp_log_196121_01544d45  Room Admin  ...   29      In
7   __export__.temp_log_196122_f8b80a9f  Room Admin  ...   29      In
8   __export__.temp_log_196111_6b7a0848  Room Admin  ...   29      In
9   __export__.temp_log_196112_e134aebd  Room Admin  ...   29      In
10  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
11  __export__.temp_log_196108_4a983c7e  Room Admin  ...   42     Out
12  __export__.temp_log_196101_d5ec7633  Room Admin  ...   29      In
13  __export__.temp_log_196099_3b8ef67b  Room Admin  ...   29      In
14  __export__.temp_log_196095_788b2c27  Room Admin  ...   29      In

[15 rows x 5 columns]

In [ ]:
IOT_df.dtypes

id            object
room_id/id    object
noted_date    object
temp           int64
out/in        object
dtype: object

###1. Convert the noted_date into DateTime, it is in day-month-Year Hour:Minute format.

In [ ]:
IOT_df.noted_date=pa.to_datetime(IOT_df.noted_date, format = '%d-%m-%Y %H:%M')
#I noticed the date is not in a pandas datetime date. So, this code will change the date into into panda datetime format)
IOT_df

                                        id  room_id/id  ... temp  out/in
0      __export__.temp_log_196134_bd201015  Room Admin  ...   29      In
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...   29      In
2      __export__.temp_log_196127_522915e3  Room Admin  ...   41     Out
3      __export__.temp_log_196128_be0919cf  Room Admin  ...   41     Out
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...   31      In
...                                    ...         ...  ...  ...     ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...   31      In
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...   31      In
97603  __export__.temp_log_100386_84093a68  Room Admin  ...   31      In
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...   31      In
97605  __export__.temp_log_133741_32958703  Room Admin  ...   31      In

[97606 rows x 5 columns]

Cleaning little more for my own reference.

In [ ]:
IOT_df['New_Date']=[d.date() for d in IOT_df['noted_date']] #this will seperate the date from the date time
IOT_df['New_Time']=[d.time() for d in IOT_df['noted_date']] #this will seperate the time from date time and store in new given column.
#note: .dt.date or .da.time attribute will only work if the date is in panda datetime format to remoce the time from date and vice versa.
print(IOT_df)

                                        id  room_id/id  ...    New_Date  New_Time
0      __export__.temp_log_196134_bd201015  Room Admin  ...  2018-12-08  09:30:00
1      __export__.temp_log_196131_7bca51bc  Room Admin  ...  2018-12-08  09:30:00
2      __export__.temp_log_196127_522915e3  Room Admin  ...  2018-12-08  09:29:00
3      __export__.temp_log_196128_be0919cf  Room Admin  ...  2018-12-08  09:29:00
4      __export__.temp_log_196126_d30b72fb  Room Admin  ...  2018-12-08  09:29:00
...                                    ...         ...  ...         ...       ...
97601   __export__.temp_log_91076_7fbd08ca  Room Admin  ...  2018-07-28  07:07:00
97602  __export__.temp_log_147733_62c03f31  Room Admin  ...  2018-07-28  07:07:00
97603  __export__.temp_log_100386_84093a68  Room Admin  ...  2018-07-28  07:06:00
97604  __export__.temp_log_123297_4d8e690b  Room Admin  ...  2018-07-28  07:06:00
97605  __export__.temp_log_133741_32958703  Room Admin  ...  2018-07-28  07:06:00

[97606 rows x 7 columns]

You can see in the table the date and time is seperated so that it's easier to read now.

## 2. What is the minimum and maximum date and time?

In [11]:
IOT_df.New_Date.describe() #just looking ionto the data

count          97606
unique            86
top       2018-10-17
freq           20564
Name: New_Date, dtype: object

In [22]:
IOT_df.New_Time.describe()

count        97606
unique        1440
top       14:17:00
freq           159
Name: New_Time, dtype: object

Now, let's find the minimum and maximun date and time

In [31]:
col1=IOT_df["New_Date"]
col2=IOT_df["New_Time"]

In [34]:
min_date=col1.min()
max_date=col1.max()
print(min_date)
print(max_date)

2018-07-28
2018-12-08

In [40]:
min_time=col2.min()
max_time=col2.max()

print("This is minimun time: ", min_time)
print("This is minimun time: ", max_time)

This is minimun time:  00:00:00
This is minimun time:  23:59:00

What is the largest interval inbetween temperature checks?

What is the average datetime?


What was the average outside temperature on '09-11-2018'?

In [71]:
IOT_df.New_Date.unique()

array([datetime.date(2018, 12, 8), datetime.date(2018, 12, 7),
       datetime.date(2018, 12, 6), datetime.date(2018, 12, 5),
       datetime.date(2018, 12, 4), datetime.date(2018, 12, 3),
       datetime.date(2018, 12, 2), datetime.date(2018, 12, 1),
       datetime.date(2018, 11, 30), datetime.date(2018, 11, 29),
       datetime.date(2018, 11, 28), datetime.date(2018, 11, 27),
       datetime.date(2018, 11, 26), datetime.date(2018, 11, 25),
       datetime.date(2018, 11, 24), datetime.date(2018, 11, 23),
       datetime.date(2018, 11, 22), datetime.date(2018, 11, 21),
       datetime.date(2018, 11, 20), datetime.date(2018, 11, 19),
       datetime.date(2018, 11, 18), datetime.date(2018, 11, 17),
       datetime.date(2018, 11, 5), datetime.date(2018, 11, 4),
       datetime.date(2018, 11, 3), datetime.date(2018, 11, 2),
       datetime.date(2018, 11, 1), datetime.date(2018, 10, 31),
       datetime.date(2018, 10, 30), datetime.date(2018, 10, 28),
       datetime.date(2018, 10, 27), datetime.date(2018, 10, 26),
       datetime.date(2018, 10, 25), datetime.date(2018, 10, 24),
       datetime.date(2018, 10, 23), datetime.date(2018, 10, 22),
       datetime.date(2018, 10, 21), datetime.date(2018, 10, 20),
       datetime.date(2018, 10, 18), datetime.date(2018, 10, 17),
       datetime.date(2018, 10, 16), datetime.date(2018, 10, 15),
       datetime.date(2018, 10, 14), datetime.date(2018, 10, 13),
       datetime.date(2018, 10, 12), datetime.date(2018, 10, 11),
       datetime.date(2018, 10, 10), datetime.date(2018, 10, 9),
       datetime.date(2018, 9, 30), datetime.date(2018, 9, 29),
       datetime.date(2018, 9, 28), datetime.date(2018, 9, 27),
       datetime.date(2018, 9, 26), datetime.date(2018, 9, 25),
       datetime.date(2018, 9, 24), datetime.date(2018, 9, 22),
       datetime.date(2018, 9, 21), datetime.date(2018, 9, 20),
       datetime.date(2018, 9, 19), datetime.date(2018, 9, 18),
       datetime.date(2018, 9, 17), datetime.date(2018, 9, 16),
       datetime.date(2018, 9, 15), datetime.date(2018, 9, 14),
       datetime.date(2018, 9, 13), datetime.date(2018, 9, 12),
       datetime.date(2018, 9, 11), datetime.date(2018, 9, 10),
       datetime.date(2018, 9, 9), datetime.date(2018, 9, 7),
       datetime.date(2018, 9, 6), datetime.date(2018, 9, 5),
       datetime.date(2018, 9, 4), datetime.date(2018, 9, 3),
       datetime.date(2018, 8, 30), datetime.date(2018, 8, 26),
       datetime.date(2018, 8, 25), datetime.date(2018, 8, 19),
       datetime.date(2018, 8, 18), datetime.date(2018, 8, 16),
       datetime.date(2018, 8, 11), datetime.date(2018, 8, 10),
       datetime.date(2018, 8, 2), datetime.date(2018, 7, 31),
       datetime.date(2018, 7, 29), datetime.date(2018, 7, 28)],
      dtype=object)

## 3. What is the largest interval inbetween temperature checks?

In [96]:
diff =col1.diff(periods=1)
diff

0          NaT
1       0 days
2       0 days
3       0 days
4       0 days
         ...
97601   0 days
97602   0 days
97603   0 days
97604   0 days
97605   0 days
Name: New_Date, Length: 97606, dtype: timedelta64[ns]

In [97]:
diff=col1.max() -IOT_df.New_Date
diff.max() ##I still have to figure out the way to find all the maximum and minimum differences and the average. I think I might need to change the data type before I apply the function. I spent alot of time on it and I tried several times but I am not getting the result as expected.

Timedelta('133 days 00:00:00')

In [100]:
#IOT_df.New_Date.dt.day()
IOT_df['New_Date'].astype(str).astype(int) #I though this would work but I am missing something here. May be I need to clean the data like what we did in last lecture using the re library. I will stop here coz I feel like I am making things complicated.

ValueError: ignored


## 5. What was the average outside temperature on '11-09-2018'?