<a href="https://colab.research.google.com/github/sovikapoudel/Data-Visualiation-Spring-2022/blob/main/Quiz_15_Lamda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import requests
import pandas as pa
from bs4 import BeautifulSoup


r = requests.get('https://en.wikipedia.org/wiki/List_of_highest_mountains_on_Earth')
html_contents = r.text
html_soup = BeautifulSoup(html_contents,"lxml")
tables = html_soup.find_all('table',class_="wikitable")

df1 = pa.read_html(str(tables))[0]
df1.columns = df1.columns.droplevel(0).droplevel(0)
df1.head()

  Rank[dp 1]  ... Country (disputed claims in italics)
0          1  ...                           NepalChina
1          2  ...              Pakistan[dp 8]China[12]
2          3  ...                           NepalIndia
3          4  ...                           NepalChina
4          5  ...                           NepalChina

[5 rows x 13 columns]

In [5]:
import re
df1.columns

Index(['Rank[dp 1]', 'Mountain name(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp 4]', 'Parent mountain[dp 5]', '1st', 'y', 'n',
       'Country (disputed claims in italics)'],
      dtype='object')

Get rid of notes, parentheticals and spaces. Decide on a capitalization scheme for all column names and apply it.

In [78]:
cols = df1.columns.map(lambda s: re.sub(r" ", "",s))

In [80]:
cols

Index(['Rank[dp1]', 'Mountainname(s)', 'm', 'ft', 'm', 'ft', 'Range',
       'Coordinates[dp4]', 'Parentmountain[dp5]', '1st', 'y', 'n',
       'Country(disputedclaimsinitalics)'],
      dtype='object')

In [82]:
col1= cols.map(lambda s: re.sub(r"\[(.+)\]","",s)) #removes the notes [dp4]
col1

Index(['Rank', 'Mountainname(s)', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'y', 'n', 'Country(disputedclaimsinitalics)'],
      dtype='object')

In [83]:
col2=col1.map(lambda s: re.sub(r"\((.+)\)","",s))#removes the parenthetical
col2

Index(['Rank', 'Mountainname', 'm', 'ft', 'm', 'ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'y', 'n', 'Country'],
      dtype='object')

In [86]:
col3=col2.map(lambda s: s.capitalize())
col3

Index(['Rank', 'Mountainname', 'M', 'Ft', 'M', 'Ft', 'Range', 'Coordinates',
       'Parentmountain', '1st', 'Y', 'N', 'Country'],
      dtype='object')

Examine the last column. Describe a way in which you might be able to clean it up to make sense of it and allow for later analysis.

In [92]:
df1.iloc[:,-1]

0                            NepalChina
1               Pakistan[dp 8]China[12]
2                            NepalIndia
3                            NepalChina
4                            NepalChina
                     ...
115                               China
116                          NepalChina
117                  BhutanChina[dp 18]
118    IndiaChina[dp 10][dp 11]'[dp 12]
119                      Pakistan[dp 8]
Name: Country (disputed claims in italics), Length: 120, dtype: object

In the given table above on the right column, we can see the data are not clean, they are all mixed up togerther with names, notes and spaces between the countries. To clean this data, I would 1st put the spaces between the country names and then seperate the names with comma so that it's easier to read. After that, I would remove the notes by using the re.sub function using re(Regular Expression) library. And then using the same function I would get rid of unnecessary parentethicals. And if possible, I woud store them in the ordered list or may be grouping them by order for better visualization and readable format